*.mlx -crlf -diff -merge
*.mat -crlf -diff -merge
*.fig -crlf -diff -merge
*.p -crlf -diff -merge
*.slx -crlf -diff -merge
*.mdl -crlf -diff -merge
*.pdf -crlf -diff -merge
*.JPG -crlf -diff -merge
*.PNG -crlf -diff -merge
*.bmp -crlf -diff -merge
*.docx -crlf -diff -merge
*.exe -crlf -diff -merge
*.gif -crlf -diff -merge
*.jpg -crlf -diff -merge
*.mexw32 -crlf -diff -merge
*.png -crlf -diff -merge
*.ppt -crlf -diff -merge
*.pptx -crlf -diff -merge
*.xls -crlf -diff -merge

